.res-header img{
    height: 60px;
    float: left;
    margin-left: 100px;
    margin-top: 5px;
    
    
}
.res-header{
    margin-bottom: 10px;
}
.title{
    float: right;
    color: black;
    text-decoration: none;
    margin-right: 100px;
    margin-top: 10px;
}
.login{
    float:right;
    margin-right: 15px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
.btn{
   
    border-radius: 35px;
   
}

