.container{
    width: 100%;
    margin-right: auto;
}
.food-container img{
    height: 250px;
    display: column;

    
    


}
.food-container{
    
    margin-top: 80px;
    float: left;
    text-decoration: none;  
    color: black;  
    
}
.food-container:hover{
    box-shadow: 0 .5rem 1rem gainsboro;
}

